@import "config";

* {
    font-family: outfit;
    font-size: 10px;
    text-align: center;
}
body {
    margin: 0;
    height: 100vh;
    background-color: $Light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #card {
        width: 320px;
        height: 497px;
        border-radius: 19px;
        background-color: $White;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 11px 20px 16px rgba(0, 0, 0, 0.05);
    
        #QR-code {
            width: 288px;
            height: 288px;
            margin-top: 1.6rem;
            background-image: url("../images/image-qr-code.png");
            border-radius: 9px;
        }

        h1 {
            font-size: 2.2rem;
            width: 255px;
            margin: 24px 0px 0px 0px;
            color: $Dark-blue;
        }

        p {
            font-size: 1.5rem;
            width: 264px;
            margin: 15px 0px 0px 0px;
            color: $Grayish-blue;
        }
    }
    footer {
        width: max-content;
        height: max-content;
        position: fixed;
        bottom: 0px;

        .attribution { 
            font-size: 11px; 
            text-align: center; 
            background-color: $Dark-blue;
            padding: 10px;
            border-radius: 9px 9px 0px 0px;
            display: flex;

            a { 
                color: #4c65c9; 
                text-decoration: none;
                font-size: 1.8rem;
            }
            p { 
                color: $White; 
                font-size: 1.8rem;
                margin: 0px 5px;
            }
        }
    }
}